/* Клиенты */

.clients{

    padding-bottom: 30px;
    @media screen and (min-width: 1200px){
        padding-bottom: 64px;

    }


}

.clients-list
{
    display: flex;
    flex-wrap: wrap;
    
    a:hover,
    a:focus{

    color: $accent-color;
    transition: $transition;
    }

a {

    display: flex;
    margin-left: auto;
    margin-right: auto;

    fill: #AFB1B8;
   
}

@media screen and (min-width: 1200px){

    flex-wrap: nowrap;
}

}    

.clients-list-item{
margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 210px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover{

    border-color: $accent-color;
   transition: $transition;
}

@media screen and (min-width: 768px){
width: 226px;
}

@media screen and (min-width: 1200px){
&:not(:last-child){

    margin-right: 30px;
}
   
}
}

@media screen and (max-width: 767px){
    .clients-list-item:nth-child(2n+1){
    margin-right: 30px;

}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .clients-list-item:not(:nth-child(3n)){
    margin-right: 30px;

}
}



.clients-list-item:hover .clients-icon
{

     fill: $accent-color;
     transition: $transition;
     
}