/* Logotip */

.Logo-full{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    
    color: $primary-title-color;

    

}
.Logo {
    
    color: $accent-color;
}

.footer-logo{
    @extend .Logo-full;
           
    color: $primary-white-color;

}