/* Сотрудники */

.team{
    // width: 1600px;
    height: 702px;
    // padding-top: 94px;
    // padding-bottom: 94px;
    background: $secondary-white-color;
     margin-left: auto;
    margin-right: auto;
        
}

// .team-list{
//     // display: flex;
//     // justify-content: space-between;
    
 
// }

.team-list-item{
    width: 100%;

    background: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    // :not(:last-child){

    //     margin-right: 30px;
    // }

}
.team-list-item-name{
   margin-top: 30px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    
    color: $primary-title-color;
    
}

.team-list-item-profession{
    margin-top: 10px;
    
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    
    color: $primary-text-color;
    
}

.social{

    display: flex;
    margin-top: 16px;
    margin-bottom: 24px;
    
    justify-content:center;
}

.social-item:not(:last-child){

    margin-right: 10px;
}


.team-list-item-profession-link{
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    
    justify-content: center;
    align-items: center;
    
    &:hover,
    &:focus{
   
    background-color: $accent-color;
    transition: $transition;
   

    .team-icon{
    
        fill: #FFFFFF;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
}

}
.team-icon{

    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}




