   /* Страница портфолио */

   .projects-types-list{

    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
        justify-content: center;
    }


}
.projects-works{
margin-top: 40px;

}


.projects-works-list:not(:nth-last-child(-n + 3)){

    margin-bottom: 30px;
}



.projects-works-list:hover{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-types-list-item:not(:last-child){

    margin-right: 8px;
}
@media screen and (max-width:767px){
.projects-types-list-item:first-child{

    padding-bottom: 15px;
}
.Portfolio{
    color: #2196F3;
    }

}


@media screen and (min-width:768px) and (max-width:1199px) {
  .projects-works-list img{
    width: 354px;
    height: 294px;
  }
  .projects-works-list:nth-child(2n+1){
    margin-right: 30px;
  }  

//   .projects-works-list:not(:nth-child(3n)){

//     margin-right: 30px;
// }
}
 

 

  @media screen and (min-width:1200px){
    .projects-works-list img{
        width: 370px;
      
    }
    .projects-works-list:not(:nth-child(3n)){

        margin-right: 30px;
    }
    .projects-works-list:not(:nth-last-child(-n + 3)){

        margin-bottom: 30px;
    }
    }  

.projects-list-btn{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;

    text-align: center;

    color: $primary-title-color;
    background: $secondary-white-color;
    border: 0px;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    &:hover,
    &:focus{

    color: $primary-white-color;
    background: $accent-color;
    transition: $transition;
}
}

.projects-works-team{

    display: flex;
    flex-wrap:wrap;
    padding-bottom: 60px;
}

.projects-works-list-name{
 

    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    
}

.replacement{

    font-weight: 700;
    font-size: 17px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: $primary-title-color;
}

.projects-works-title{

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-overflow: ellipsis;

    color: $primary-title-color;
}
.projects-works-name{
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.87;
    
    color: $primary-text-color;
}

/* .projects-text{
    position: relative;
    overflow: hidden;
    
    
} */


/* .projects-text::before{
display: inline-block;
content: "";
position: absolute;
opacity: 0;
width: 100%;
height: 100%;
top: 100%;
background-color:rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 
} */

/* .projects-works-list-link:hover .projects-text::before,
.projects-works-list-link:focus .projects-text::before,
.projects-works-list-link:hover .projects-works-text,
.projects-works-list-link:focus .projects-works-text{

    opacity: 1;
    transform: translateY(-100%);
   
} */

.projects-text{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color:rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.projects-works-list-link:hover .projects-text,
.projects-works-list-link:focus .projects-text{
    opacity: 1;
    transform: translateY(-100%);
}
.projects-works-text{
    
    padding:63px 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
        

    color: $primary-white-color;
} 
    .overlay{
        position: relative;
        overflow: hidden;
        
    }

    